*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
.page {
  display: grid;
  place-items: center;
  width: 1200px;
  height: 100%;
}

.content {
  width: 1140px;;
  display: grid;
  align-items: end;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 133px 30px;
}

.content__list {
  display: flex;
  flex-direction: column;
  position: relative;
} 

.content__list-item:not(:last-of-type) {
  margin-bottom: 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}


.content__details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  color: #fff;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-item {
  padding: 0 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__card-link:focus {
  outline: none;
  appearance: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
} 

.content__card-link:hover {
  text-decoration: 1px underline #fff;
}

.content__card-link:active {
  text-decoration: none;
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  justify-items: start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  max-width: 196px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex-grow: 1;
}

/* Стилизация кнопок */
.button {
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  background-color: transparent;
  color: #fff;
  border: 1px solid currentColor;
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20px;
}

.more-button {
  width: 100%;
  margin-top: 30px;
}

.button:focus {
  outline: none;
  appearance: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button:hover {
  text-decoration: 1px underline #fff;
}

.button:active {
  text-decoration: none;
  background-color: #545050;
}

.content__list-container {
  padding: 2px;
  height: 298px;
  position: relative;
  overflow: auto;
}


.search-form__fieldset  {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: none;
  gap: 5px;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  color: #fff;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__label {
  width: 212px;
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.search-form__textfield {
  min-width: 225px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  color: #fff;
  background-color: transparent;
  border: none;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
}

input:focus {
  outline: none;
  appearance: none;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
} 

input:hover {
  cursor: text;
}

input[type=text]:active {
  outline: none;
  border: 1px solid #fff;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: block;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox::after {
  content: '';
  background-color: #fff;
  width: 15px;
  height: 15px; 
}


input[type=checkbox]:checked + .search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background: #fff;
  inline-size: 100%;
  block-size: 100%;
  border: 2px solid #1b1919;
}

.search-form__label:hover .search-form__label-text { 
  text-decoration: 1px underline #fff;
}